/* .main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  min-width: 100vw;
  }
  
  .leftContainer{
  background-image: url('../public/background.png');
  min-height: 100vh;
  min-width: 100vw;
  }
  
  .grosLogo {
      height: 5px;
      width: 5px;

  
  }
  .rightContainer{
    background-color: grey;
    min-height: 100vh;
    min-width: 100vw;
  
  }
  
  
  .petitLogo{
    height: 5px;
    width: 5px;
  
  }
  
  .titleHappening{
  
  }
  
  .titleJoin {
  
  }
  
  .signUp {
  
  }
  
  .alreadyAccount{
  
  }
  
  .signIn {
  
  } */