.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    min-width: 100vw;
    }

    .leftContainer{
    background-image: url('../public/background.png');
    min-height: 100vh;
    min-width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .grosLogo {
        height: 250px;
        width: 250px;
        mix-blend-mode: multiply; /* ça enlève le blanc d'une image */
        /* background: transparent; */

    }
    .rightContainer{
      background-color: #171e29;
      min-height: 100vh;
      min-width: 60vw;

    }

    .petitLogo{
    margin-left: 25px;
    height: 50px;
    width: 50px;

    }

    .titleHappening{
        margin-left: 25px;
        color: whitesmoke;
        font-size: 75px;

    }

    .titleJoin {
        margin-left: 25px;
        color: whitesmoke;
    }

    .signUp {
        margin-left: 25px;
        border-radius: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: whitesmoke;
        background-color: #3790eb;
    }

.signUp:hover {
    cursor: pointer;
    font-weight: bold;
}

.alreadyAccount{
    margin-left: 25px;
    color: whitesmoke;
}

.signIn {
    margin-left: 25px;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #3790eb;
    background-color: #171e29;
    border: 0.5px whitesmoke solid;
}
.signIn:hover {
    cursor: pointer;
    font-weight: bold;
}
.logo {
    max-width:5%;
    height:auto;
    width: 15px !important;
    border-radius: 50%;
/* max-width: 3px;
max-height: 1%; */
}